html {
    background-color: #ddd;
    font-family: 'Nunito Sans';
    color: #000
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-between
}
li {
    font-size: xx-large;
    display: inline
}
menu {
    padding-inline-start: 10px;
    display: flex;
    align-items: center
}
h1 {
    padding-top: 1.25rem;
    text-align: center;
    font-size: 2rem
}
p {
    font-size: 5rem;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    margin: 2rem
}

.button {
    align-self: center;
    background-color: #ddd;
    border-radius: 18px;
    border: 3px solid #000;
    color: #000;
    height: 50px; 
    width: 150px;
    font-size: x-large;
    font-family: 'Nunito Sans';
    cursor: pointer;
    transition: 0.45s
}
.button:hover {
    background-color: #000;
    color: #ddd;
    border: 3px solid #ddd
}
.menu-item {
    display: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000
}
.menu-item:hover {
    color: #fff;
    transition: 0.3s
}
.pointer {
    cursor: pointer
}
.icon:hover {
    filter: grayscale(1);
    transition: 0.25s
}

#navbar {
    gap: 20px
}
#menu {
    cursor: pointer;
}
#iconbar {
    display: flex;
    justify-content: center;
    gap: 15px
}
#work-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px
}
#contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px
}