html {
    background-color: #ddd;
    font-family: 'Nunito Sans';
    color: #000
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 5px;
}
li {
    font-size: xx-large;
    display: inline
}
h1 {
    text-align: center;
    font-size: 2rem;
}
h2 {
    font-size: xx-large;
}
p {
    font-size: 5rem;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    margin: 1rem
}

.button {
    align-self: center;
    background-color: #ddd;
    border-radius: 18px;
    border: 3px solid #000;
    color: #000;
    height: 50px; 
    width: 150px;
    font-size: x-large;
    font-family: 'Nunito Sans';
    cursor: pointer;
    transition: 0.45s
}
.button:hover {
    background-color: #000;
    color: #ddd;
    border: 3px solid #ddd
}
.menu-item {
    display: inline;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    position: relative;
}
.menu-item:hover {
    color: #fff;
    transition: 0.3s
}
.icon {
    cursor: pointer;
}
.icon:hover {
    filter: grayscale(1);
    transition: 0.25s
}
.no-text-dec {
    color: #000;
}

#navbar {
    gap: 20px;
}
#menu {
    justify-content: space-between;
}
#home-icon:hover {
    filter: invert(1);
    transition: 0.25s;
}
#iconbar {
    display: flex;
    justify-content: center;
    gap: 15px
}
#portfolio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px
}
#contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px
}
.work-div {
    display: flex;
    flex-direction: column;
    align-items: center
}